<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <section name="container" type="System.Configuration.NameValueSectionHandler"/>
    </configSections>
    <appSettings>
        <add key="WeightBalance" value="1.5"/>
    </appSettings>
    <container>
        <add key="BaseWeight" value="4000"/>
        <add key="MaxWeight" value="30000"/>
        <add key="MaxTopWeight" value="120000"/>
    </container>
</configuration>